@import "tailwindcss";

.trend-slider .swiper-pagination {
    top: 35% !important;
    right: 40px !important;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.trend-slider .swiper-pagination .swiper-pagination-bullet {
    width: 5.5px !important;
    height: 5.5px !important;
    opacity: 1 !important;
    margin: 0 !important;
    background-color: rgba(255, 255, 255, 0.8); /* Corrected RGBA */
    transition: var(--transition);
}

.trend-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: rgba(255, 255, 255, 0.3); /* Corrected RGBA */
}

.trend-slider .swiper-button-prev,
.trend-slider .swiper-button-next {
    bottom: auto;
    left: auto;
    right: 20px;
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--card-background-2);
    color: var(--text-color);
}

.trend-slider .swiper-button-prev:after,
.trend-slider .swiper-button-next:after {
    display: block;
    font-size: 16px;
    transform: rotate(90deg);
}

.trend-slider .swiper-button-prev {
    top: 60%;
}

.trend-slider .swiper-button-next {
    top: 72%;
}

